/*****************************************************/
/****General****/
*
{
	margin:0px;
	padding:0px;
}
body#forum_body
{
	background-color: #e9e9e9;
	background-image: linear-gradient(to right, #fdfdfd, #e9e9e9);
	padding-left:0%;
	padding-right:0%;
	font-family:Arial, Geneva, sans-serif;
}
a#forum_a
{
	text-decoration:none;
	color:#0099cc;
}
a:hover
{
	color:#000000;
}
img, 
table#forum_table, 
table#forum_table tr, 
table#forum_table td
{
	border:0px;
}
h1
{
	text-align:center;
	margin:0px;
	padding:0px;
}
.clean
{
	clear:both;
}
.left
{
	text-align:left;
}
.center
{
	text-align:center;
}

form#forum_form input[type=submit],
form#forum_form input[type=button]
{
	width: auto;
}
form#forum_form input[type=text], 
form#forum_form input[type=password]
{
	width:60%;
	display: inline-block;
}
form#forum_form textarea {
	width: 90%;
}
label
{
	width:30%;
	display:inline-block;
	vertical-align:top;
	text-align:left;
}
.message_buttons input
{
	width:auto;
	padding:0px 5px;
}
.button
{
	padding:5px 15px;
	vertical-align:middle;
	border:1px solid #aaaaaa;
	font-weight:bold;
	background:url('images/button.png') repeat-x;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
}
table#forum_table
{
	border-spacing:0px;
	background:#ffffff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding:0px;
	width:95%;
	margin:5px auto 5px auto;
}
table#forum_table tr
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin:0px;
	border-bottom: 1px solid #999;
}
table#forum_table td, table#forum_table th
{
	margin:0px;
	border-bottom: 1px solid #999;
	padding:3px;
	text-align:center;
}
/*****************************************************/
/****Blocks****/
.header
{
	margin:auto;
	margin-top:10px;
	padding:15px;
	/*background:url('images/bluec_30p.png');*/
	width:60%;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	text-align:center;
}
.foot
{
	text-align:center;
	/*background:url('images/bluec_30p.png');*/
	width:60%;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	padding:10px;
	margin:20px auto;
}
.content
{
	/*background:url('images/bluec_30p.png');*/
	width:95%;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	margin:auto;
	padding:20px;
	margin-top:20px;
}
.box_left
{
	float:left;
}
.box_right
{
	float:right;
}
.box
{
	/*background:url('images/bluec_30p.png');*/
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	margin:auto;
	padding:5px;
	margin-bottom:15px;
}
.login
{
	width:80%;
	margin:auto;
	text-align:center;
}
.box_login
{
	background:url('images/black_40p.png');
	width:80%;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	margin:auto;
	padding:20px;
	margin-top:20px;
	color:white;
}
/*****************************************************/
/****Content****/
.big
{
	font-size:1.2em;
}
.small
{
	font-size:0.7em;
}
.message
{
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	padding:20px;
	margin:auto;
	width:70%;
	background:url('images/black_40p.png');
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	margin-top:20px;
}
.messages_table td
{
	border-top:1px solid #cccccc;
	vertical-align:top;
}
.author
{
	width:150px;
	border-right:1px solid #cccccc;
}
.title_cell
{
	width:45%;
}
.date
{
	font-style:italic;
	text-align:right;
	font-size:0.9em;
	margin-right:10px;
}
.edit
{
	float:left;
}
.forum_ntop, .forum_nrep, .forum_act, .forum_auth
{
	width:100px;
}
td.forum_cat, td.forum_tops
{
	padding-left:15px;
	text-align:left;
}
.categories_table td, .categories_table th, .topics_table td, .topics_table th, .list_pm td, .list_pm th
{
	border-bottom:1px solid #cccccc;
}
.categories_table tr:last-child td, .topics_table tr:last-child td, .list_pm tr:last-child td
{
	border-bottom:0px;
}
td.forum_cat .title
{
	font-weight:bold;
}
td.forum_cat .description
{
	padding-left:5px;
}